<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Product</h1>
<form action="#" th:action="@{/products/update}" method="post" th:object="${product}">
    <fieldset>
        <legend>Edit Product Form</legend>
    <input type="text" hidden th:field="*{id}">
    <label>
        Name:
        <input type="text" th:field="*{name}">
    </label>
    <br>
    <label>
        Brand:
        <input type="text" th:field="*{brand}">
    </label>
    <br>
    <input type="submit" value="Save">
    </fieldset>
</form>
</body>
</html>